.App {
  text-align: center;
  display:flex;
  flex-direction:column;
  align-items:center;
  height:100%;
}

.header{
  height:50px;
  width:100%;
  /* background-image: linear-gradient(rgb(225, 231, 223), rgb(115, 119, 115)); */
  background-image: linear-gradient(rgb(175, 172, 172), rgb(146, 143, 140));
  position:fixed;
  top:0;
  display:flex;
  box-sizing:border-box;
  border-bottom:3px solid black;
  box-shadow: 3px 5px 20px black;
  z-index: 3;
}


.title-section{
  height:50px;
  width: 80%;
  display:flex;
  justify-content:flex-start;
  align-items:center;
}

.links-section{
  height:50px;
  width:20%;
  display:flex;
  align-items:flex-start;
  justify-content:flex-end;
}

.option-div{
  box-sizing:border-box;
  height:50px;
  width:110px;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  display:none;
}

.space{
  height:50px;
  width:100%;
}

.k{
  height:200px;
  width:100px;
  background-color:yellow;
}

.my-name{
  font-size:22px;
  margin-top:15px;
}

.my-profession{
  font-size:20px;
  margin-top:-20px;
}

.white-line{
  height:2px;
  width:20px;
  background-color:white;
}

.my-square{
  height:22px;
  width:20px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.drop-down-menu{
  position:fixed;
  background-color:gray;
  width:100%;
  top:50px;
  height:100vh;
  background-image: linear-gradient(rgb(200, 200, 200), rgb(100, 100, 100));
  z-index:2;
}

.giving-space{
  width:5px;
  height:40px;
}

.drop-down-option{
  border-bottom:3px solid black;
  height:50px;
  width:100%;
  background-image: linear-gradient(rgb(93, 140, 194), rgb(72, 111, 129));
  display:flex;
  flex-direction:column;
  align-items:center;
}

.centerpiece{
  height:50px;
  width:170px;
  display:flex;
}

.label{
  position:relative;
  bottom:32px;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

#selected{
  background-image:linear-gradient(white, rgb(150, 150, 150));
}

#selected1{
  background-image:linear-gradient(white, rgb(150, 150, 150));
  border-top:3px solid black;
}

#not-selected1{
  border-top:3px solid black;
}

.head-option{
  border-left:2px solid black;
}

.that-is-what-it-is-all-about{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.holder-of-my-photo{
  height:200px;
  width:200px;
}

.my-photo{
  height:100%;
  width:100%;
  border-radius:50%;
  border: 3px solid black;
}

.page-title{
  font-size:40px;
}

.contact-info-div{
  height:600px;
  width:316px;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:flex-start;
}

.great-and-spacious{
  width:5px;
  height:100x;
}

.contact-piece{
  height:80px;
  
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  box-sizing:border-box;
  position:relative;
  top:50px;
}

.contact-piece h4{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:15px;
}

.xtra-space{
  
  width:20px;
}

.important-contact-info{
  position:relative;
  bottom:40px;
}

.emphasis{
  font-weight:900;
}

.paragraph-area{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
width:92%
}

.brav{
  width:100%;
  
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;
  height:100vh;
}

.my-story{
  font-size:20px;
  font-weight:bold;
  text-align: left;
}

.my-contact-piece{
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  box-sizing:border-box;
}

.holder-of-page-title-div{
  height:100px;
  width:100%;
}

.holder-of-very-particular-set-of-skills{
  display:flex;
  flex-wrap:wrap;
  width:100%;
  justify-content:center;
}

.skill-div{
  box-sizing:border-box;
  border:3px solid black;
  margin:3px;
  width:220px;
  height:250px;
  display:flex;
  flex-direction:column;
  align-items:center;
  background-color:white;
}

.skill{
  height:220px;
  width:214px;
}

.title-of-skill-div{
  width:214px;
  height:250px;
  font-weight:bold;
  position:relative;
  bottom:6px;
  font-size:18px;
}

.profile-pic{
  height:300px;
}

.about-space{
  height:1px;
  width:30px;
}

.under-profile-description-div{
  font-size:20px;
  font-weight:bold;
  width:260px;
  
}

.home-stuff{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  width:95%;
  position:relative;
  top:140px;
}

.holder-of-header-and-subheader{
  height:80px;
  width:300px;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
}

.holder-of-header-and-subheader h2,h3{
  text-align:left;
}

.holder-of-header-and-subheader h3{
  position:relative;
  bottom:35px;
  left:0px;
}

.holder-of-domain-and-githubs{
  width:300px;
  height:120px;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.alpha{
  display:flex;
  flex-direction:column;
  width:300px;
  align-items:flex-start;
  position:relative;
  bottom:15px;
}

.bravo{
  display:flex;
  flex-direction:column;
  width:300px;
  align-items:center;
  position:relative;
  bottom:20px;
}

.bravo h3{
  font-weight:900;
}

.charlie{
  display:flex;
  flex-direction:column;
  width:300px;
  align-items:flex-start;
  position:relative;
  bottom:20px;
}

.delta{
  display:flex;
  flex-direction:column;
  width:300px;
  align-items:center;
  position:relative;
  bottom:23px;
  text-align:center;
  
}

.delta h3{
  font-weight:900;
  width:300px;
  word-wrap:break-word;
  text-align:center;
}

.container-of-carousel{
  height:300px;
  width:300px;
  display:flex;
  border:3px solid black;
  align-items:center;
  justify-content:center;
  overflow:hidden;
}

.container-of-go-through-pictures-button{
  height:301px;
  width:30px;
  display:flex;
  align-items:center;
}

.container-of-go-through-pictures-button button{
  width:30px;
  z-index: 1;
}

.top-line-thingy-right-side{
  background-color:white;
  height:40px;
  width:5px;
  transform:rotate(-15deg);
  position:relative;
  top:2px;
}

.bottom-line-thingy-right-side{
  background-color:white;
  height:40px;
  width:5px;
  transform:rotate(15deg);
  position:relative;
  bottom:2px;
}

.top-line-thingy-left-side{
  background-color:white;
  height:40px;
  width:5px;
  transform:rotate(15deg);
  position:relative;
  top:2px;
}

.bottom-line-thingy-left-side{
  background-color:white;
  height:40px;
  width:5px;
  transform:rotate(-15deg);
  position:relative;
  bottom:2px;
}

.container-of-project-picture{
  height:301px;
  width:240px;
  display:flex;
  justify-content:center;
  align-items:center;
  
}

.el-espacio{
  width:10px;
  height:20px;
}

.pictures-for-display-div3{
  height:280px;
  width:1100px;
  display:flex;
  justify-content:space-between;
  transition: transform 0.5s;
  transform: translate(440px,0px);
}

.pictures-for-display-div2{
  height:280px;
  width:1100px;
  display:flex;
  justify-content:space-between;
  transition: transform 0.5s;
  transform: translate(-440px,0px);
}

.pictures-for-display-div1{
  height:280px;
  width:1100px;
  display:flex;
  justify-content:space-between;
  transition: transform 0s;
  transform: translate(0px,0px);
}

.i-have-a-blank-space{
  height:5px;
  width:220px;
}

.proj-pic-div{
  height:280px;
  width:220px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}



.carrier-of-propose-quest{
  border:3px solid black;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.carrier-of-merlin-guess{
  border:3px solid black;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.carrier-of-identity{
  border:3px solid black;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.carrier-of-execution{
  border:3px solid black;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.carrier-of-about{
  border:3px solid black;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  height:102px;
  width:219px;
}

.carrier-of-edit{
  border:3px solid black;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  height:102px;
  width:219px;
}

.carrier-of-pieces{
  border:3px solid black;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width:222px;
  height:112px;
}

.carrier-of-board{
  border:3px solid black;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  position:right;
  height:102px;
  width:219px;
}

.el-space{
  width:5px;
  height:0px;
}

.cool-picture{
  height:100%;
  width:100%;
}

.container-for-paragraphs-describing-project{
  width:300px;

}

.container-for-paragraphs-describing-project p{
text-align:left;
font-weight:bold;
}

.container-of-projects{
  position:relative;
  bottom:30px;
}


@media only screen and (min-width:400px){

  .my-name{
    font-size:27px;
    margin-top:15px;
  }

  .page-title{
    font-size:45px;
  }
  .drop-down-menu{
    width:400px;
    border-left:3px solid black;
    right:0;
  }

  .drop-down-option{
    
  }
  .profile-pic{
    height:320px;
  }
  .under-profile-description-div{
    font-size:30px;
  }
  .my-story{
    font-size:22px;
  }
  .holder-of-header-and-subheader h2{
    font-size:25px;
  }
  .holder-of-header-and-subheader h3{
    font-size:22px;
  }
  .alpha,bravo,charlie,delta h3{
    font-size:20px;
  }
  .bravo h3{
    font-size:20px;
  }
  .charlie h3{
    font-size:20px;
  }
  .delta h3{
    font-size:20px;
  }
  .container-of-projects{
    position:relative;
    bottom:40px;
  }

  
}


@media only screen and (min-width:517px){
  body{
  }
  
  
  .profile-pic{
    height:340px;
  }
  .home-stuff{
    position:relative;
    top:140px;
  }
  .under-profile-description-div{
    font-size:70px;
  }
  .my-story{
    font-size:27px;
  }
  
  .page-title{
    font-size:47px;
  }
  .holder-of-header-and-subheader h2{
    font-size:26px;
  }
  .container-of-projects{
    position:relative;
    bottom:50px;
  }
  .holder-of-header-and-subheader h3{
    font-size:23px;
  }
  .alpha h3{
    font-size:21px;
  }
  .bravo h3{
    font-size:21px;
  }
  .charlie h3{
    font-size:21px;
  }
  .delta h3{
    font-size:21px;
    width:394px;
  }

  #time-to-stretch{
   width:394px; 
  }
  .container-of-project-picture{
    width:334px;
  }
  .proj-pic-div{
    width:320px;
  }
  .i-have-a-blank-space{
    width:320px;
  }
  .pictures-for-display-div1{
    width:1600px;
  }
  .pictures-for-display-div2{
    width:1600px;
    transform: translate(-640px,0px);
  }
  .pictures-for-display-div3{
    width:1600px;
    transform: translate(640px,0px);
  }
  .carrier-of-about{
    width:320px;
    height:150px;
  }
  .carrier-of-board{
    width:320px;
    height:150px;
  }
  .carrier-of-edit{
    width:320px;
    height:150px;
  }
  .carrier-of-pieces{
    width:320px;
    height:150px;
  }
  .carrier-of-identity{
    height:280px;
    width:220px;
  }
  .turkey{
    width:394px;
  }
  .carrier-of-merlin-guess{

  }
  .carrier-of-propose-quest{

  }
  .carrier-of-execution{

  }
  .container-for-paragraphs-describing-project{
    width:394px;
  }
  .container-for-paragraphs-describing-project p{
    font-size:20px;
  }

  .tiny-bit-of-space-very-small{
    width:5px;
    height:4px;
  }

  
}

@media only screen and (min-width:556px){
  body{
    
  }
  
  .profile-pic{
    height:360px;
  }
  .my-name{
    font-size:35px;
    margin-top:15px;
    position:relative;
    bottom:0px;
  }
  .my-story{
    font-size:29px;
  }
  .my-profession{
    position:relative;
    bottom:12px;
  }
  
 

  .home-stuff h2{
    font-size:26px;
    text-align:left;
  }
  .home-stuff{
    position:relative;
    top:150px;
  }
}

@media only screen and (min-width: 650px){
  body {
  }
  .my-story{
    font-size:31px;
  }
  
  .profile-pic{
    height:380px;
  }

  .skills{
    height:100vh;
  }

  
  

  .my-profession{
    position:relative;
    bottom:23px;
  }


  .holder-of-very-particular-set-of-skills{
    width:700px;
  }

  .page-title{
    font-size:50px;
  }
  .holder-of-header-and-subheader h2{
    font-size:28px;
  }
  .holder-of-header-and-subheader h3{
    font-size:25px;
  }
  .alpha h3{
    font-size:23px;
  }
  .bravo h3{
    font-size:23px;
  }
  .charlie h3{
    font-size:23px;
  }
  .delta h3{
    font-size:23px;
    width:594px;
  }
  .home-stuff{
    position:relative;
    top:200px;
  }
  #time-to-stretch{
   width:564px; 
  }
  .container-of-project-picture{
    width:504px;
  }
  .proj-pic-div{
    width:490px;
  }
  .i-have-a-blank-space{
    width:490px;
  }
  .pictures-for-display-div1{
    width:2450px;
  }
  .pictures-for-display-div2{
    width:2450px;
    transform: translate(-980px,0px);
  }
  .pictures-for-display-div3{
    width:2450px;
    transform: translate(980px,0px);
  }
  .carrier-of-about{
    width:481px;
    height:232px;
  }
  .carrier-of-board{
    width:481px;
    height:232px;
  }
  .carrier-of-edit{
    width:481px;
    height:232px;
  }
  .carrier-of-pieces{
    width:481px;
    height:232px;
  }
  .carrier-of-identity{
    height:280px;
    width:220px;
  }
  .turkey{
    width:394px;
  }
  .carrier-of-merlin-guess{

  }
  .carrier-of-propose-quest{

  }
  .carrier-of-execution{

  }
  .container-for-paragraphs-describing-project{
    width:394px;
  }
  .container-for-paragraphs-describing-project p{
    font-size:22px;
  }

  .tiny-bit-of-space-very-small{
    width:5px;
    height:4px;
  }
.bbbnnn{
  width:5px;
  height:9px;
}
.home-stuff h2{
  font-size:36px;
}
}

@media only screen and (min-width: 742px){
  body {
  }
  .my-story{
    font-size:35px;
  }


  .my-profession{
    position:relative;
    bottom:22px;
  }



 
}



@media only screen and (min-width: 835px){
  body{
  }
  .my-story{
    font-size:37px;
  }
  

 .home-stuff{
   position:relative;
   top:200px;
 }

.home-stuff h2{
  font-size:45px;
}

  .my-profession{
    position:relative;
    bottom:22px;
  }

  .page-title{
    font-size:55px;
  }
  .holder-of-header-and-subheader h2{
    font-size:31px;
  }
  .holder-of-header-and-subheader h3{
    font-size:27px;
  }
  .alpha h3{
    font-size:25px;
  }
  .bravo h3{
    font-size:25px;
  }
  .charlie h3{
    font-size:25px;
  }
  .delta h3{
    font-size:25px;
    width:794px;
  }

  .container-of-carousel{
    height:400px;
  }

  #time-to-stretch{
   width:764px; 
  }
  .container-of-project-picture{
    width:704px;
    justify-content:center;
  }

.contact-info-div{
  width:500px;
}

.contact-piece{
  position:relative;
  top:50px;
}

.contact-piece h4{
  font-size:25px;
}

.important-contact-info{
  position:relative;
  bottom:70px;
}

.space-traveller{
  height:60px;
  width:5px;
}

  .container-of-go-through-pictures-button{
    height:400px;
  }

  .container-of-project-picture{
    height:400px;
    display:flex;
    justify-content:center;
    align-items:center;
  }

  .proj-pic-div{
    width:680px;
    height:380px;
  }
  .i-have-a-blank-space{
    width:680px;
    height:380px;
  }
  .pictures-for-display-div1{
    width:3400px;
    height:380px;
  }
  .pictures-for-display-div2{
    width:3400px;
    height:380px;
    transform: translate(-1360px,0px);
  }
  .pictures-for-display-div3{
    width:3400px;
    height:380px;
    transform: translate(1360px,0px);
  }
  .carrier-of-about{
    width:676px;
    height:302px;
  }
  .carrier-of-board{
    width:676px;
    height:302px;
  }
  .carrier-of-edit{
    width:676px;
    height:302px;
  }
  .carrier-of-pieces{
    width:676px;
    height:302px;
  }
  .carrier-of-identity{
    height:380px;
    width:320px;
  }
  .turkey{
    width:394px;
  }
  .carrier-of-merlin-guess{

  }
  .carrier-of-propose-quest{

  }
  .carrier-of-execution{
    height:372px;
    width:668px;
  }
  .container-for-paragraphs-describing-project{
    width:394px;
  }
  .container-for-paragraphs-describing-project p{
    font-size:22px;
  }

  .tiny-bit-of-space-very-small{
    width:5px;
    height:4px;
  }
.bbbnnn{
  width:5px;
  height:17px;
}
}

@media only screen and (min-width: 927px){
  body{
  }
  

  .my-profession{
    position:relative;
    top:-33px;
    font-size:30px;
  }
  
  .holder-of-very-particular-set-of-skills{
    width:1000px;
    position:relative;
    top:40px;
  }


}


@media only screen and (min-width: 1200px){
  
  .that-is-what-it-is-all-about{
    display:flex;
    flex-direction:row;
    width:1200px;
    position:relative;
    top:50px;
  }
  
  .title-section{
    position:relative;
    top:0px;
  }
  

}

@media only screen and (min-width: 1431px){
  .option-div{
    display:flex;
    box-sizing:border-box;
  }
  

  #menu-button{
    display:none;
  }

  .drop-down-menu{
    display:none;
  }

  .logo-section{
    width:33%;
  }


  .links-section{
    width:33%;
  }

  .my-profession{
    position:relative;
    top:-24px;
    font-size:25px;
  }
}

@media only screen and (min-width: 1472px){
  body{
  }

  .my-profession{
    top:-26px;
  }
}

@media only screen and (min-width: 1636px){
  body{
  }
  .my-profession{
    top:-25px;
  }
}

@media only screen and (min-width: 1657px){
  .my-profession{
    top:-0px;
  }
}